/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@font-face{
  font-family: 'Open Sans Condensed';
  src: url("../fonts/OpenSans_Condensed-Light.ttf") format('truetype');
  src: url("../fonts/OpenSansCondensed-Light.woff");
  font-weight: normal;
  font-style: normal;
}
/*Zeroing*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

body,h1,h2,h3,h4,h5,h6,p,div {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 22px;
  font-style: inherit;
}
/*Header*/
.header {
  background-color: #dcdcdc;
  margin: 0 auto;
  height: 230px;
  width: 100%;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 980px;
  padding: 0 10px;
  margin: 0 auto;
  height: max-content;
}
.header__left__container{
  display: flex;
  margin-right: auto;
}
.header__right__container{
  display: flex;
  margin-left: auto;
}
.header__logo {
  margin-top: 65px;
  margin-bottom: 65px;
  width: 100px;
  height: 100px;
}
#header__title {
  padding-left: 10px;
  padding-top: 72px;
  margin: 0 auto;
}
#header__text_t{
  color: #777777;
  padding-top: 15px;
  padding-left: 10px ;
  font-weight: 550;
}
#header__title {
  color: #777777;
  font-size: 32px;
  line-height: 24px;
}
.header__text_n {
  color: #767676;
  font-size: 40px;
  font-weight: 400;
  margin-top: 34px;
  line-height: 45px;
  height: max-content;
  padding-top: 5px;
  font-family: "Open Sans Condensed";
}
#header__text_fb {
  color: #767676;
  display: flex;
  text-decoration:underline dashed 2px ;
  width: max-content;
  font-size: 19px;
  padding-top: 2px;
  height: max-content;
  margin-left:  auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: normal;
}
/*Adaptive*/
/*Header adaptive*/
@media (max-width: 720px) {
  .header{
    height: 215px;
  }
  .header__text_n{
    font-size: 30px;
    line-height: 28px;
    margin-top: 57px;
  }
  #header__text_fb{
    font-size: 16px;
  }
  .header__logo{
    width: 85px;
    height: 85px;
  }
  #header__title{
    font-size: 27px;
  }
  #header__text_t{
    padding-top: 0;
    font-size: 12px;
  }

}
@media (max-width: 435px) {
  .header {
    height: 205px;
  }
  .header__container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__left__container{
    margin-right: 10%;
    display: flex;
    margin-left: 10%;
    justify-content: space-evenly;
  }
  .header__right__container{
    margin-left: 0;
  }
  .header__logo{
    margin-top: 25px;
    margin-bottom: 0;
    width: 80px;
    height: 80px;
  }
  #header__title{
    font-size: 28px;
  }
  .header__text_n{
    margin-top: 0;
    font-size: 30px;
    line-height: 28px;

  }
  #header__text_fb{
    font-size: 16px;
    margin-left: 38px
  }
  #header__title{
    padding-top: 38px;
  }
  #header__text_t{
    padding-top: 0;
    font-size: 12px;
  }
}
/*Menu adaptive*/

/*Menu*/
.menu {
  width: 100%;
  background-color: #777777;
}
.menu__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 980px;
  padding: 0 10px;
  margin: 0 auto;
  height: 80px;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__list > li {
  margin-left: 13px;
}
.menu__link {
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0.75px;
  font-weight: 400;
}
.menu__link:hover {
  text-decoration: underline #ffffff 2px;
  text-underline-offset: 4px;
}
.menu__ver__slash{
  color: #ffffff;
  content: "|";
  font-size: 30px;
  margin-bottom: 10px;
}

